*

!app
!bootstrap
!config
!database
!public
!resources
!routes
!storage
!tests

!artisan
!composer.json
!composer.lock
!LICENSE
!package.json
!phpunit.xml
!README.md
!CHANGELOG.md
!vite.config.js

!.editorconfig
!.env.example
!.gitattributes
!.gitignore

